/*{text-align: center ; }*/


h1 {
  font-family: "Archivo black", san serif;
  font-size: 100px;
  color: #292929 ;
  background-color: #FAD62F;
}


h2 {
	font-family: "Archivo black", san serif;
	font-size: 30 px;
	color: #196969 ;
}

img {
	height : 300px;
	border-radius: 90px ;
}

article img {
	text-align: center ; 
}

li {
	font-family: 'Noto Sans', sans-serif; 
	font-size : 20px ;
	color: #196969 ;
	list-style: none ;
	display : inline ;
	border-radius: 5px ; 
	border-style: none ; 
	background-color : #FAD62F ;
	height : 50px ;
	width : 200px ;
	padding : 5px ;
	margin : 5px ;
	text-align: center ; 
}

h3 {
	font-family: 'Noto Sans', sans-serif ;
	color : 617A7A ;
	font-size: 20px; 
	text-align: center ; 
}

p {
	font-family: 'Noto Sans', sans-serif ;
	color : 617A7A ;
	font-size: 15px; 
}

aside {
	float : right ; 
	width : 25% ;
	display : block ;
	margin : auto ;
	padding : 10px ;
	text-align: center ; 
	border : 2px, solid, black ;
	background-color : "grey";

}



aside button {
	background-color : #FAD62F; 
	height : 40px ;
	width : 40px ;
}

section {
	float : left ;
	width : 70% ;
	margin : 5px;
	padding : 5px ;
}

article {
	height : 750px ;
	text-align : justify ;
}

.left {
	float : left ;
	width : 45% ;
}

.right {
	float : right ;
	width : 45% ;
}


/*footer button {
	background-color : #196969 ;
	width : 200px;
}

footer button h3 {
	color : white ; 
	padding : 10px ;
	margin : auto ;
	font-size: 10px ; 
}*/

.parent:hover .cache {
	display: block;
}

.cache {
	background-color : #FAD62F ;
	color : black; 
	font-weight: bold ; 
	font-family: 'Noto Sans', sans-serif; 
	padding : 10px ;
	margin : auto ;
	font-size: 15px ; 
	display: none;
	opacity: 0.8 ; 
	width: 91% ;
	top: 0;
	left: 0;
	position: absolute;
}

.parent {
	background-color : #196969 ;
	width : 200px;
	color : white ; 
	font-family: 'Noto Sans', sans-serif; 
	padding : 10px ;
	margin : auto ;
	font-size: 10px ; 
	height : 57px;
	cursor: crosshand ;
	position : relative;
}



a {
	text-decoration : none ; 
}

footer {
	clear : both ;
	/*position : fixed ;*/
	text-align: center ;
	/*display : inline-block;*/
}

footer div {
	display: inline ;
	margin : auto ;
	padding: 5px; 
}

i {
	color: #FAD62F ;
}

.wrapper {
	width : 900px ;
	margin : auto ;
	padding : 5px 10px ;
}

.header {
	text-align : center ;
}


.nav {

	width : 900px ;
	padding : 5px 10px ;
}

.bloctwitter {

	border : 2px solid #617A7A ; 
	border-radius: 5px; 
	height : 600px ;
	padding-left : 10px ;
	padding-right : 10px;

}

.enhaut {
	height : 700px;
	padding : 10px ;
	margin: auto ; 
}

.enbas {
	height : 700px;
	padding: 10px ;
}

a:hover {
  color : #617A7A ;
  font-weight: bold ; 
}
